.passport-wrapper {
  display: flex;
}

.passportImage {
  height: auto;
  width: 60%;
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
  position: relative;
}

@media (max-width: 500px) {
  .passportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .map-img {
    margin: 20px 0;
  }

  .testing {
    margin-top: 0;
  }

  img {
    height: 150px;
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .passport-input {
    padding: 10px;
    border-radius: 5px;
  }

  .h2-lines {
    width: 60vw;
    height: 1px;
    text-align: center;
    background: #000;
    margin: 25px 0 -40px 0;
  }

  h2 {
    width: 12vw;
    background: white;
    padding: 0 10px;
  }

  .passportImage {
    display: none;
  }
}
