.restaurantPage {
  display: flex;
}

.sideOne {
  width: 60%;
}

.sideOne img {
  width: 100%;
  height: 100%;
}

.sideTwo {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem;
}

.stars {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.sameSize {
  min-height: 25rem !important;
}

.sameSizeImages img {
  min-height: 10rem;
  max-height: 5rem;
}
.sc-bxivhb.gKUblN {
  width: 100%;
}
